.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}