@import "../../../../globals";

.container {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 98px 32px 32px 32px;
  height: 100vh;

  @include mobile {
    // margin-bottom: 72px;
    // height: calc(100vh - 72px);
    padding: 72px 32px 32px 32px;
  }

  // @include desktop {
  //   margin-left: 112px;
  // }
}
