.navbar {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Updated: Center align the navbar links */
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-bottom: 10px;
}

/* Styles for desktop */
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    padding: 20px;
  }

  .navbar-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar-link {
    margin-bottom: 20px;
  }
}

/* Styles for mobile */
@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .navbar-links {
    display: flex;
    justify-content: center;
  }

  .navbar-link {
    margin: 5px;
  }
}

.container {
  padding: 20px;
  margin-left: 0;
  /* Adjust this value to create space for the navbar on the left */

  /* Styles for desktop */
  @media screen and (min-width: 768px) {
    margin-left: 120px;
    /* Adjust this value to match the width of the navbar */
  }
}